@charset "UTF-8";
.vbrand-container {
  position: relative;
}

.vbrand-queue {
  position: absolute;
  width: 140px;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  direction: rtl;
  overflow: hidden;
}

.vbrand-item {
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  border: 2px solid #fff;
  color: #000;
  right: 0;
  text-align: center;
  direction: ltr;
  margin: 10px 10px 0 0;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.vbrand-item .title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 18px;
  background: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  padding-top: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.vbrand-item .sponsored,
.vbrand-item .later {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  padding: 1px 2px;
  text-align: center;
}
.vbrand-item .later {
  display: none;
}
.vbrand-item .later:hover {
  background: #fff;
}
.vbrand-item.outside {
  right: -150px;
}
.vbrand-item.icon {
  opacity: .7;
  width: 40px;
  height: 40px;
  right: 0;
  -moz-border-radius: 40px 0 40px 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px 0 40px 40px;
}
.vbrand-item.icon .title {
  bottom: -100%;
}
.vbrand-item.icon:before {
  content: "";
  background: #f1c40f;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.vbrand-item.watch-later {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 40px;
  height: 40px;
  -moz-border-radius: 40px 0 40px 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px 0 40px 40px;
}
.vbrand-item.watch-later .later {
  display: block;
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 8px 0 0;
}
.vbrand-item.watch-later .sponsored {
  display: none;
}
.vbrand-item.watch-later:before, .vbrand-item.watch-later:after {
  display: none;
}
.vbrand-item.active {
  opacity: 1;
  width: 120px;
  height: 120px;
  -moz-border-radius: 120px 0 120px 120px;
  -webkit-border-radius: 120px;
  border-radius: 120px 0 120px 120px;
}
.vbrand-item.active .title {
  height: 40px;
  padding-top: 10px;
  bottom: 0;
}
.vbrand-item.active .sponsored {
  display: none;
}
.vbrand-item.active .later {
  display: block;
}
.vbrand-item.active:before {
  left: 100%;
}
.vbrand-item:after {
  content: "▶";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8.5px;
  margin-left: -8.5px;
  font-size: 11px;
  text-align: center;
  border: 1px solid #fff;
  color: #555;
  height: 17px;
  width: 17px;
  line-height: 17px;
  background: rgba(255, 255, 255, 0.6);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
