
@import "compass";

$item-size: 120px;
$item-margin: 10px;

.vbrand-container {
  position: relative;
  overflow: hidden;
}

.vbrand-queue {
  position: absolute;
  width: $item-size + (2* $item-margin);
  // width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  direction: rtl;
  // pointer-events: none;
  padding-bottom: 100px;
}

.vbrand-item {
  // pointer-events: all;
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  border: 2px solid #fff;
  color: #000;
  right: 0;
  text-align: center;
  direction: ltr;
  margin: $item-margin $item-margin 0 0;
  overflow: hidden;
  @include box-shadow(0 0 10px #000); // multiple: comma-delimited
  @include border-radius(0);
  @include background-clip(padding-box);
  @include transition(all .5s);
  @include background-size(cover);
  @include box-sizing(border-box);
  .title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 18px;
    background: rgba(#fff, .6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    padding-top: 3px;
    @include box-sizing(border-box);
    @include transition(all .5s);
  }
  .sponsored,
  .later {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(#fff, .6);
    font-size: 10px;
    padding: 1px 2px;
    text-align: center;
  }
  .later {
    display: none;
    &:hover {
      background: #fff;
    }
  }
  &.outside {
    margin-right: -150px;
  }
  &.icon {
    opacity: .8;
    width: 40px;
    height: 40px;
    margin-right: $item-margin;
    @include border-radius(40px 0 40px 40px);
    .title {
      bottom: -100%;
    }
    &:before {
      content: "";
      /*background: #F49213;*/
      background: #595959;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include transition(all .2s);
    }
  }
  &.watch-later {
    @include box-shadow(none);
    width: 40px;
    height: 40px;
    @include border-radius(40px 0 40px 40px);
    .later {
      display: block;
      height: 100%;
      width: 100%;
      background: #fff;
      padding: 8px 0 0;
      top: -8px;
    }
    &.wlq-open {
      position: relative;
      display: inline;
      width: 100px;
      height: 60px;
      border: 2px solid #fff;
      color: #000;
      right: 100px;
      text-align: center;
      direction: ltr;
      margin: 10px 10px 0 0;
      overflow: hidden;
      border-radius:0px;
      .later {
        display: none;
      }
    }
    &:before,
    &:after {
      display: none;
    }
  }
  &.watch-later .sponsored,
  &.icon .sponsored {
    display: none;
  }
  &.active {
    opacity: 1;
    width: $item-size;
    height: $item-size;
    @include border-radius($item-size 0 $item-size $item-size);
    .title {
      height: 40px;
      padding-top: 10px;
      bottom: 0;
    }
    &:hover {
      .sponsored {
        display: none;
      }
      .later {
        display: block;
      }
    }
    &:before {
      left: 100%;
    }
  }
  &:after {
    $after-width: 22px;
    content: "▶";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5 * $after-width;
    margin-left: -0.5 * $after-width;
    // margin-top: 0;
    // margin-left: 0;
    font-size: 13px;
    text-align: center;
    border: 1px solid #fff;
    color: #555;
    height: $after-width;
    width: $after-width;
    line-height: $after-width;
    background: rgba(#fff, .6);
    @include border-radius(20px);
    @include box-sizing(border-box);
  }
}
