
////////////////////////////////////////////////
//                  Colors
////////////////////////////////////////////////

// Colors                 // As seen in:
$lighter-gray: #f7f7f7;   // Backgrounds
$light-gray: #c1c1c1;     // Borders
$gray: #9c9ea0;           // Header text
$magenta: #ab48ac;        // H1, H2 color
$cyan: #00addc;           // Main menu active
