
///////////////////////////////////////////////////
//    CSS reset
//    For when normalize is not enough.
///////////////////////////////////////////////////

%reset-table {
  width: 100%;
  th {
    border-bottom: none;
  }
  tbody {
    border-top: none;
  }
  tr {
    background: none;
  }
}

%reset-ul {
  li {
    margin: 0;
    list-style: none;
  }
}
